[Unit]
Description=keystore2 Service
After=multi-user.target

[Service]
Type=idle

User=root
ExecStart=/home/pascal/Documents/release/keystore2/start.sh

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
